.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 100%;
    margin: 10vh 40% 0 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: #00000022 1vw 1vw 5vw;
    padding: 2rem;
    border-radius: 2vw;
    input {
      margin-top: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
      height: 48px;
      padding: 0 20px;
      font-size: 16px;
      color: #666;
      text-align: center;
      &::placeholder {
        color: #999;
      }
    }
    button {
      margin-top: 2vh;
      border-radius: 4px;
      height: 48px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  svg {
    height: 50%;
    width: 50%;
    margin: auto;
  }
}
